<div class="create-task-header" *ngIf="project.id">
  <div class="form-inline">
    <div class="input-group create-task-in">
      <input type="text" class="form-control" [(ngModel)]="task_name" (keyup.enter)="add()">
      <span class="input-group-btn">
        <button class="btn btn-success add-task" [disabled]="!task_name" (click)="add()">Add task</button>
      </span>
    </div>
  </div>
</div>

<div class="task-list" *ngIf="project.tasks">
  <table class="tasks">
    <tbody>
      <tr class="task-item"
        *ngFor="let task of project.tasks"
        [class.active]="task.active">
        <td class="task-status">
          <input type="checkbox" name="status" [checked]="task.done" (change)="setDone(task, $event.target.checked)">
        </td>

        <td class="task-name">
          <div class="left-border">
            <div class="task-name-text"
              *ngIf="!task.editing"
              [class.task-done]="task.done"
              (click)="onNameClick(task)">
              <span *ngIf="task.deadline" class="label label-danger deadline">{{ task.deadline | date:'MMM d, y h:mm a' }}</span>
              {{task.name}}
            </div>
            <textarea class="task-name-field" name='name' rows="1"
              autosize
              autofocus
              *ngIf='task.editing'
              [(ngModel)]='task.name'
              (keydown.enter)='save(task)'
              (keyup.escape)='cancel(task)'
              (blur)='save(task)'
              ></textarea>
            <div class="task-body" *ngIf="task.active">

              <div dropdown class="deadline-dropdown">
                <button dropdownToggle class="btn btn-default btn-xs dropdown-toggle">
                  <span class="glyphicon glyphicon-time"></span>
                  <span *ngIf="!task.deadline">Set deadline</span>
                  <span *ngIf="task.deadline">Change deadline</span>
                </button>
                <span *ngIf="task.deadline">or
                  <button class="btn btn-default btn-xs" type='button' (click)="setDeadline(task, null)"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
                </span>
                <div dropdownMenu class="dropdown-menu " aria-labelledby="deadline-dropdown">
                  <datepicker ngModel (selectionDone)="setDeadline(task, $event)"></datepicker>
                </div>
              </div>

              <comment-list [task]="task"></comment-list>

            </div>
          </div>
        </td>

        <td class="task-control">
          <div class="control">
            <ul>
              <li><a class="sort"></a></li>
              <li><a class="edit"   (click)="edit(task)"></a></li>
              <li><a class="delete" (click)="delete(task)"></a></li>
            </ul>
          </div>
        </td>

      </tr>
    </tbody>
  </table>
</div>