<div class="projects">
    <div class="project" *ngFor="let project of projects">
        <project-header [project]="project" (update)="onUpdate(project)" (delete)="onDelete(project)"></project-header>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 footer">
        <a class="btn btn-lg btn-primary" [class.disabled]="editing" (click)="onCreate()">
            <span class="glyphicon glyphicon-plus"></span>Add TODO List
        </a>
    </div>
</div>
<code>{{editing}}</code>
<code>{{projects | json}}</code>
