.projects {
  margin: 0 0 20px;
}

.footer {
  text-align: center;
  padding: 40px 0 80px;

  .btn {
    background: #4e7fbc url('assets/bg-project-header.png') repeat-x 0 0;
    font-weight: bold;
  }
}
