<!-- <div #authModal="bs-modal"  -->
<div bsModal #authModal="bs-modal"
  class="modal fade" tabindex="-1"
  role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Please authenticate</h4>
      </div>

      <div class="modal-body">
        <div class="alert alert-danger" *ngIf="error">
          {{ error }}
        </div>
        <form #authForm="ngForm" (ngSubmit)="signIn()" class="form-group">
            <div class="form-group">
              <label for="email">Email</label>
              <input
              #email="ngModel"
              [(ngModel)]="credentials.email"
              class="form-control" name="email" type="text" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                #password="ngModel"
                [(ngModel)]="credentials.password"
                class="form-control"  name="password" type="password" required>
            </div>
        </form>
      </div>

      <div class="modal-footer">
        <button
          class="btn btn-primary pull-left"
          [disabled]="!authForm.form.valid"
          (click)="facebook()">Facebook</button>
        <button
          class="btn btn-primary"
          [disabled]="!authForm.form.valid"
          (click)="signIn()">signIn</button>
        <button
          class="btn btn-primary"
          [disabled]="!authForm.form.valid"
          (click)="signUp()">signUp</button>
      </div>

    </div>
  </div>
</div>

